/* .chat img {
    background-color: rgb(220, 236, 250);
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    border: 1px solid #ddd;
    padding: 10px;
    opacity: 0.8;
}

.bpw-floating-button:before {
    background-image: url("https://d3upbvvdvllr10.cloudfront.net/uiresource/common-img/widget.svg");
} */

/* .webchat{
    display: none;
} */